<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="table.css">
</head>
<body style="background: radial-gradient(circle at 10% 20%, rgb(126, 70, 195) 0%, rgb(156, 236, 247) 90%);;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT8
    7bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <h1 style="text-align: center;">
        Generated Adds
    </h1>

    <div class="div" style="width: 80%; align-content: center; margin-top: 8%; margin-left: 8%;">

        <table class="table">
            <thead>
              <tr style="background-color: rgb(156, 236, 247);">
                <th scope="col" style="text-align: center;">Sr No.</th>
                <th scope="col" style="text-align: center;">Customer Name</th>
                <th scope="col" style="text-align: center;">Customer Interests</th>
                <th scope="col" style="text-align: center;">Generated Add</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="text-align: center;">1</th>
                <td style="text-align: center;">John</td>
                <td style="text-align: center;">Cricket</td>
                <td style="text-align: center;"><textarea name="Add" id="" cols="30" rows="2"></textarea></td>
              </tr>
              <tr>
                <th scope="row" style="text-align: center;">1</th>
                <td style="text-align: center;">John</td>
                <td style="text-align: center;">Cricket</td>
                <td style="text-align: center;"><textarea name="Add" id="" cols="30" rows="2"></textarea></td>
              </tr>
            </tbody>
          </table>

    </div>

</body>
</html>